# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Distance field renderer
.vscode/

build/

external/sdl-windows/
external/spdlog-windows/
external/gsl-windows/
external/crc-windows/
external/glm-windows/
external/entt-windows/
external/assimp-windows/
external/stb-windows/

scripts/__pycache__/

.editorconfig

scribit-profile-runtime.json
scribit-profile-shutdown.json
scribit-profile-startup.json

content/sample-windows
content_backup